.button {
      border: none;
      padding: 1rem 2rem;
      font-size: 1.6rem;
      text-transform: capitalize;
      border-radius:5px ;
      background-color: var(--color-secoundary-900);
      -webkit-border-radius:5px ;
      -moz-border-radius:5px ;
      -ms-border-radius:5px ;
      -o-border-radius:5px ;
      margin-right: 15px;
}