.rate {
  padding: 6rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 30px;
}
.card {
  padding: 1rem;
  background-color: var(--color-white);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.26);
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.img {
  height: 4.5rem;
  width: 4.5rem;
}
.btn {
  text-decoration: none;
  font-size: 1.6rem;
  text-transform: capitalize;
  padding: 0.4rem 0.6rem;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}
.buy {
  background-color: rgba(0, 0, 0, 0.1);
  color: var(--color-black);
}
.sell {
  background-color: rgba(242, 169, 0, 0.1);
  color: var(--color-secoundary-900);
}
.name,
.price {
  display: flex;
  padding: 1rem;
  justify-content: space-around;
  font-size: 1.6rem;
  text-transform: capitalize;
}

.bitcoin {
  font-size: 2rem;
  font-weight: 500;
  font-family: "roboto", Arial, Helvetica, sans-serif;
  color: #f2a900;
}
.per {
  color: #00b26b;
  font-size: 1.8rem;
}
@media screen and (max-width: 870px) {
  .rate {
    padding: 4rem;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
  }
}

@media screen and (max-width: 720px) {
  .rate {
    padding: 4rem;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr);
  }
}
@media screen and (max-width: 490px) {
  .rate {
    padding: 4rem;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(5, 1fr);
  }
}
