* {
  box-sizing: border-box;
}

:root {
  font-family: 'lato', 'Open Sans', 'Roboto',Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 62.5%;
  /* font-weight: 400; */


  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --color-gray-100: #f4f3f1;
  --color-gray-200: #dddbd8;
  --color-gray-300: #ccc9c6;
  --color-gray-400: #aeaba7;
  --color-gray-500: #8a8784;
  --color-gray-600: #656360;
  --color-gray-700: #4b4a47;
  --color-gray-800: #31302e;
  --color-gray-900: #1f1d1b;

  --color-primary-100: #4d4d4d;
  --color-primary-200: #3c3c3c;
  --color-primary-300: #333;
  --color-primary-400: #2b2b2b;
  --color-primary-500: #222;
  --color-primary-600: #1a1a1a;
  --color-primary-700: #111;
  --color-primary-800: #090909;
  --color-primary-900: #000;

  --color-secoundary-500: #ffd77b;
  --color-secoundary-600: #ffc848;
  --color-secoundary-700: #ffc337;
  --color-secoundary-800: #ffbe26;
  --color-secoundary-900: #f2a900;


  --color-white: #fff;
  --color-black: #000;
}

body {
  margin: 0;
}

ul {
  list-style: none;
  margin: 0 ;
  padding: 0;

}
main {
  text-align: center;
  margin: 0  auto;
}